html, body {
  margin: 0;
  padding: 0;
} 
header img{
    float: center;
    background:transparent;
    padding: 15px;
    background-color: darkslateblue;
}

#schema{
    display: none;
}

header h1{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
    float:right;
  position: relative;
  font-size: 1.4em;
    color: white;
    background-color: darkslateblue;
    padding-top: 15px;
    padding-right: 40px;
}

header{
    background-color: darkslateblue;
    width:100%;
}

.container {
	height: 90%;
	display:flex;
}
svg {
	height: 100%;
	width: 100%;
}

.selectionbar{
    width: 100%;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
    background-color: skyblue;
    padding: 5px;

}


.selectionbar p{

    text-align: center;
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.canvasclass {
	width: 70%;
	border: 1px solid #ddd;
    background-color: white;
}
.tableclass {
	width: 10%;
	overflow:hidden;
    overflow-y: scroll;
    height: 100%;
    cursor:pointer;
    border: 1px solid #ddd;
    background-color: white;
}
.locutionclass {
	width: 10%;
	overflow:hidden;
    overflow-y: scroll;
    height: 100%;
    cursor:pointer;
    border: 1px solid #ddd;
    background-color: white;
}
.schemeclass {
	width: 20%;
	overflow:hidden;
    overflow-y: scroll;
    height: 100%;
    cursor:pointer;
    border: 1px solid #ddd;
    background-color: white;
}
.annotationclass {
    float: right;
	width: 20%;
	overflow:hidden;
    overflow-y: scroll;
    height: 100%;
    cursor:pointer;
    display: none;
}

.buttonclass {
    border-left: hidden;
    border-bottom: hidden;
	width: 2%;
    border: 1px solid #ddd;
    cursor:pointer;
}

#tabsearch{
    width: 100%;
}

#locsearch{
    width: 100%;
}

#schemesearch{
    width: 100%;
}



#table_button {
    background-color: #FFFFFF;
    border-left: hidden;
    width: 2%;
    position: absolute;
    height:90%;
}

#table_button:hover {background-color: #ddd;}

#btn_table_text{
    width: 100%;
    white-space: nowrap ;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: medium;
    color: darkslateblue;
}

#btn_ann_text{
    width: 100%;
    white-space: nowrap ;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: medium;
    color: darkslateblue;
}
.annotation_buttonclass {
    border-left: hidden;
    border-bottom: hidden;
	width: 2%;
    border: 1px solid #ddd;
    cursor:pointer;
}



#annotation_button {
    background-color: #FFFFFF;
    font-size: large;
    color: blue;
    border-left: hidden;
    width: 2%;
    position: absolute;
    height:90%;
}

#annotation_sbmt{
    background-color: #FFFFFF;
    font-size: large;
    color: darkslateblue;
    width: 100%;
}

#annotation_button:hover {background-color: #ddd;}
#annotation_sbmt:hover {background-color: #ddd;}

#btn_loc_text{
    width: 100%;
    white-space: nowrap ;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: medium;
    color: darkslateblue;
}
.loc_buttonclass {
    border-left: hidden;
    border-bottom: hidden;
	width: 2%;
    border: 1px solid #ddd;
    cursor:pointer;
}



#loc_button {
    background-color: #FFFFFF;
    font-size: large;
    color: blue;
    border-left: hidden;
    width: 2%;
    position: absolute;
    height:90%;
}

#loc_button:hover {background-color: #ddd;}


#btn_scheme_text{
    width: 100%;
    white-space: nowrap ;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: medium;
    color: darkslateblue;
}
.schemebuttonclass {
    border-left: hidden;
    border-bottom: hidden;
	width: 2%;
    border: 1px solid #ddd;
    cursor:pointer;
}



#scheme_button {
    background-color: #FFFFFF;
    font-size: large;
    color: blue;
    border-left: hidden;
    width: 2%;
    position: absolute;
    height:90%;
}

#scheme_button:hover {background-color: #ddd;}

table.dataframe {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  color: darkslateblue;
}

.dataframe td,.dataframe th {
  border-right: hidden;
  border: 1px solid #ddd;
  padding: 8px;
}

table.locframe {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  color: darkslateblue;
}

.locframe td,.locframe th {
  border-right: hidden;
  border: 1px solid #ddd;
  padding: 8px;
}

table.schemeframe {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  color: darkslateblue;
}

.schemeframe td,.schemeframe th {
  border-right: hidden;
  border: 1px solid #ddd;
  padding: 8px;
}

#annotationtable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 97%;
  color: darkslateblue;
}

#annotationtable td,#annotationtable th {
  border-right: hidden;
  border: 1px solid #ddd;
  padding: 8px;
}


#g { opacity:1}

.tableclass table.dataframe tr td:nth-child(1) {
    display: none;
}

.locframe tr:nth-child(even){background-color: #f2f2f2;}

.locframe tr:hover {background-color: #ddd;}

.schemeframe tr:nth-child(even){background-color: #f2f2f2;}

.schemeframe tr:hover {background-color: #ddd;}

.dataframe tr:nth-child(even){background-color: #f2f2f2;}

.dataframe tr:hover {background-color: #ddd;}

#annotationtable tr:nth-child(even){background-color: #f2f2f2;}

#annotationtable tr:hover {background-color: #ddd;}


