<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    </head>
    <body>
        <header>
            <h1>Argument Navigation</h1>
        </header>
        <form method="POST">
		
	
	
		  <input type="text" id="corpus" name="text" placeholder="Map ID / Corpus">
		  <button type="submit" class="btn" name="sbm" value="sbm">></button><br>
          <label for="iat_mode"> IAT mode: </label>
          <input type="checkbox" id="iat_mode" name="iat_mode" value="true">
          <input type="hidden" id="iat_mode" name="iat_mode" value="false">
	     </form>
    </body>
</html>
